@media (max-width: 1320px)
  .news-slide-item
    width: 41%
    flex-shrink: 1
  .news-slide-item--big
    flex-shrink: 0
    width: 300px
  .smi-slider .owl-item
    width: auto !important
  .news-slide-smalls
    width: auto
  .books-adv img
    max-width: 100%
  .books-slider .owl-item
    width: auto !important
  .main-menu-row
    height: 72px
  .about-smi
    flex-direction: column
    align-items: center
    &-left
      padding: 84px 15px 50px
      width: 70%
      &:before
        right: -200%
    &-right
      width: 70%
      padding: 54px 15px 50px
      &:before
        left: -200%
  .submenu
  .main-menu
    position: absolute
    top: 72px
    flex-direction: row
    flex-wrap: wrap
    left: 0
    right: 0
    width: 100%
    text-align: center
    display: flex!important
    transition: .6s
    opacity: 0
    z-index: -1
    //margin: 0 -2px
    //transition: .6s
    //height: 0
    &.active
      opacity: 1
      z-index: 15
      background: #fff
      display: flex !important
    &__link
      margin-right: 0
      width: 50%
      padding: 0px 5px
      display: flex
      justify-content: center
      align-items: center
      height: 70px
      &:nth-child(odd)
      &:nth-child(even)
      &:nth-child(1)
        background: #231D1F
        color: #fff
      &:nth-child(2)
        background: #F5F4F4
        color: #231D1F
      &:nth-child(3)
        background: #F5F4F4
        color: #231D1F
      &:nth-child(4)
        background: #231D1F
        color: #fff
      &:nth-child(5)
        background: #231D1F
        color: #fff
      &:nth-child(6)
        background: #F5F4F4
        color: #231D1F
      &:nth-child(7)
        background: #F5F4F4
        color: #231D1F
      &:nth-child(8)
        background: #231D1F
        color: #fff
  .submenu
    height: 70px
  .content-slider__item
    width: 350px !important
  .articles-slide__image
    width: 393px
  .articles-slide
    width: 393px
  .article-left
    display: none
  .article-socials
    flex-direction: row
    flex-wrap: wrap
    margin-bottom: 22px
    &__link
      margin-right: 4px
  .mobile-search
    display: block
    width: 100%
    background: #EAE9E9

    padding: 28px 35px
    form
      position: relative
    input
      border: 1px solid #9d9c9c
      border-radius: 100px
      background: #fff
      height: 50px
      font-size: 12px
      color: #231d1f
      &:hover
        border-color: #000
      &:focus
        box-shadow: none
        border-color: #231D1F
    &__icon
      width: 24px
      height: 24px
    &__submit
      position: absolute
      border: none
      background: none
      right: 21px
      top: 1px
      bottom: 0
      margin: auto
      cursor: pointer
  .main-menu-row
    padding: 0 15px
  .burger-menu
    width: 70px
    display: flex
    order: 3
    height: 100%
    margin-left: 30px
    flex-direction: column
    justify-content: center
    align-items: center
    background: #231D1F
    cursor: pointer
    flex-shrink: 0
    svg
      width: 26px
      height: 17px
      margin-bottom: 6px
      fill: #fff
    &__caption
      font-size: 10px
      line-height: 12px
      text-align: center
      text-transform: uppercase
      color: #fff
      font-weight: 600
  .main-menu__search
    display: none
  .mobile-mediacenter
    padding: 28px 36px
    display: flex
    background: #B6B6B6
    width: 100%
    .main-menu__search, .mediacenter-link
      display: block
      width: 100%
      font-size: 12px
      line-height: 15px
      color: #fff
      font-weight: 600
  .burger-menu__opened
    display: none
  .main-menu-row .burger-menu
    &.active
      background: #3FA6DB
      .burger-menu__close
        display: none
      .burger-menu__opened
        display: block
        width: 21px
        height: 20px
